In [201]:

from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
from sklearn import datasets
import datetime
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.externals import joblib
import azureml.core
from azureml.core.experiment import Experiment
from azureml.core.workspace import Workspace
from azureml.train.automl import AutoMLConfig
from azureml.core import Workspace
from azureml.core.model import Model
from azureml.core import Experiment
from azureml.core.webservice import Webservice
from azureml.core.image import ContainerImage
from azureml.core.webservice import AciWebservice
from azureml.core.conda_dependencies import CondaDependencies
import collections
from sklearn.model_selection import train_test_split
import pickle as pkl
import logging
import azureml.dataprep as dprep 
import azureml.core.dataset as Dataset
from azureml.core import Dataset

In [1]:
import pandas as pd 
print(pd.__version__)

0.23.4

In [2]:
pip install pandas==0.24.2

The following command must be run outside of the IPython shell:

    $ pip install pandas==0.24.2

The Python package manager (pip) can only be used from outside of IPython.
Please reissue the `pip` command in a separate terminal or command prompt.

See the Python documentation for more informations on how to install packages:

    https://docs.python.org/3/installing/

In [202]:
data_df = pd.read_csv('data/Training_AI_ML_OrderExport_0701_0930_v2.csv')
test_df= pd.read_csv('data/Test_AI_ML_OrderExport_1001_1014_v2.csv')

/anaconda/envs/azureml_py36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (9,13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/anaconda/envs/azureml_py36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (58,59,76) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [203]:
# data_df.drop(columns=['ORDER_ID','ORDER_CREATED_DATE','ACCOUNT_NUMBER','SKU','PORT_IN_FLAG','FROM_CARRIER_NAME','BILLING_CITY','BILLING_STATE','BILLING_ZIPCODE','SHIPPING_CITY','SHIPPING_STATE','SHIPPING_ZIPCODE','EMAIL','IP_ADDRESS','BYOD_INDICATOR','HOLD_ORDER_STATUS','FINAL_RESULT','FINAL_RESULT_SOURCE','AW_REASON','SENT_TO_ACTIVE_WATCH_TIMESTAMP','ACTIVE_WATCH_TS','ORDER_SUBMIT_TS','ACTIVE_WATCH_DURATION_MINS','ACTIVE_WATCH_RESULT','EXPERIAN_RESPONSE_1','EXPERIAN_RESPONSE_2'], inplace=True)
# test_df.drop(columns=['ORDER_ID','ORDER_CREATED_DATE','ACCOUNT_NUMBER','SKU','PORT_IN_FLAG','FROM_CARRIER_NAME','BILLING_CITY','BILLING_STATE','BILLING_ZIPCODE','SHIPPING_CITY','SHIPPING_STATE','SHIPPING_ZIPCODE','EMAIL','IP_ADDRESS','BYOD_INDICATOR','HOLD_ORDER_STATUS','FINAL_RESULT','FINAL_RESULT_SOURCE','AW_REASON','SENT_TO_ACTIVE_WATCH_TIMESTAMP','ACTIVE_WATCH_TS','ORDER_SUBMIT_TS','ACTIVE_WATCH_DURATION_MINS','ACTIVE_WATCH_RESULT','EXPERIAN_RESPONSE_1','EXPERIAN_RESPONSE_2'], inplace=True)



data=data_df[['NUM_PORTIN','THIRD_PARTY_ID_SCORE','FIRST_PARTY_ID_SCORE','MAKE1','MONTHLYRECURRINGCHARGE','HOUR_OF_DAY','TOTAL_PRICE','PRICE1','ONETIMECHARGE','IDA_RESULT','MODEL1','INSTALLMENT_AMOUNT','IS_EXISTING_CUSTOMER','ORDER_HOLD_DURATION_MINS']]
test_data=test_df[['NUM_PORTIN','THIRD_PARTY_ID_SCORE','FIRST_PARTY_ID_SCORE','MAKE1','MONTHLYRECURRINGCHARGE','HOUR_OF_DAY','TOTAL_PRICE','PRICE1','ONETIMECHARGE','IDA_RESULT','MODEL1','INSTALLMENT_AMOUNT','IS_EXISTING_CUSTOMER','ORDER_HOLD_DURATION_MINS']]

In [204]:
data.shape

(133797, 14)

In [205]:
test_data.shape

(26321, 14)

In [206]:
data.head()

,NUM_PORTIN,THIRD_PARTY_ID_SCORE,FIRST_PARTY_ID_SCORE,MAKE1,MONTHLYRECURRINGCHARGE,HOUR_OF_DAY,TOTAL_PRICE,PRICE1,ONETIMECHARGE,IDA_RESULT,MODEL1,INSTALLMENT_AMOUNT,IS_EXISTING_CUSTOMER,ORDER_HOLD_DURATION_MINS
0,0,504,466,Apple,45.33,0,847.92,649.99,33.33,GREEN,iPhone XR,33.33,N,12.65
1,0,384,293,Motorola,4.99,0,129.96,119.99,4.99,GREEN,moto e5 play,4.99,Y,12.12
2,0,540,494,Samsung,98.66,0,1099.84,999.99,41.66,GREEN,Galaxy Note9,41.66,N,16.87
3,1,410,331,LG,44.49,0,834.36,779.99,32.49,GREEN,G8 ThinQTM,32.49,Y,24.13
4,0,348,409,Apple,0.00,0,0.00,0.00,0.00,GREEN,iPhone 6,0.00,N,10.75

In [207]:
def label_duration(row):
    duration = row['ORDER_HOLD_DURATION_MINS']
    if duration <= 60 :
        return 0
    elif duration >60 and duration <=120 :
        return 1
    else:
        return 2

In [208]:
data['label'] = data.apply(label_duration, axis=1)
data.drop(columns=['ORDER_HOLD_DURATION_MINS'], inplace=True)

test_data['label'] = test_data.apply(label_duration, axis=1)
test_data.drop(columns=['ORDER_HOLD_DURATION_MINS'], inplace=True)

In [209]:
data.head()

,NUM_PORTIN,THIRD_PARTY_ID_SCORE,FIRST_PARTY_ID_SCORE,MAKE1,MONTHLYRECURRINGCHARGE,HOUR_OF_DAY,TOTAL_PRICE,PRICE1,ONETIMECHARGE,IDA_RESULT,MODEL1,INSTALLMENT_AMOUNT,IS_EXISTING_CUSTOMER,label
0,0,504,466,Apple,45.33,0,847.92,649.99,33.33,GREEN,iPhone XR,33.33,N,0
1,0,384,293,Motorola,4.99,0,129.96,119.99,4.99,GREEN,moto e5 play,4.99,Y,0
2,0,540,494,Samsung,98.66,0,1099.84,999.99,41.66,GREEN,Galaxy Note9,41.66,N,0
3,1,410,331,LG,44.49,0,834.36,779.99,32.49,GREEN,G8 ThinQTM,32.49,Y,0
4,0,348,409,Apple,0.00,0,0.00,0.00,0.00,GREEN,iPhone 6,0.00,N,0

In [210]:
test_data.shape

(26321, 14)

In [211]:
test_data.head()

,NUM_PORTIN,THIRD_PARTY_ID_SCORE,FIRST_PARTY_ID_SCORE,MAKE1,MONTHLYRECURRINGCHARGE,HOUR_OF_DAY,TOTAL_PRICE,PRICE1,ONETIMECHARGE,IDA_RESULT,MODEL1,INSTALLMENT_AMOUNT,IS_EXISTING_CUSTOMER,label
0,1,451,393,Apple,0.00,16,1249.99,1249.99,1249.99,GREEN,iPhone 11 Pro Max,0.00,Y,2
1,0,306,441,Apple,97.08,16,1337.42,1249.99,52.08,GREEN,iPhone 11 Pro Max,52.08,Y,2
2,1,515,473,Apple,107.41,16,900.84,849.99,35.41,GREEN,iPhone 11,35.41,Y,2
3,0,547,302,Apple,12.00,16,1059.99,999.99,999.99,GREEN,iPhone 11 Pro,0.00,Y,2
4,0,425,396,Apple,61.66,16,399.84,399.99,16.66,GREEN,iPhone 7,16.66,Y,2

In [212]:
collections.Counter(data['label'])

Counter({0: 103870, 1: 15592, 2: 14335})

In [213]:
green_df = data[data['label'] == 0]
yellow_df = data[data['label'] == 1]
red_df = data[data['label'] == 2]

In [214]:
green_under_df = green_df.sample(15592)
red_over_df= red_df.sample(15592, replace=True)

In [215]:
balanced_data_df = pd.concat([green_under_df, yellow_df,red_over_df])

In [216]:
balanced_data_df.shape

(46776, 14)

In [217]:
X_train = balanced_data_df.drop(columns=['label'])
Y_train = balanced_data_df['label']

X_test = test_data.drop(columns=['label'])
Y_test = test_data['label']

In [218]:
X_train.shape

(46776, 13)

In [219]:
Y_train = np.array(Y_train)

In [220]:
Y_train.shape

(46776,)

In [221]:
X_test.shape

(26321, 13)

In [222]:
Y_test.shape

(26321,)

In [223]:
balanced_data_df.to_csv("data/final_balanced_data.csv",index=False)
test_data.to_csv("data/test_data.csv",index=False)

In [224]:
ws = Workspace.from_config()

# choose a name for experiment
experiment_name = 'orderhold-Duration-ExternalCompute'

# project folder
project_folder = './ml_experiment/orderhold-Duration-ExternalCompute'
experiment = Experiment(ws, experiment_name)

output = {}
output['SDK version'] = azureml.core.VERSION
output['Subscription ID'] = ws.subscription_id
output['Workspace Name'] = ws.name
output['Resource Group'] = ws.resource_group
output['Location'] = ws.location
output['Project Directory'] = project_folder
output['Experiment Name'] = experiment.name
pd.set_option('display.max_colwidth', -1)
outputDf = pd.DataFrame(data = output, index = [''])
outputDf.T

SDK version        1.0.65
Subscription ID    be564fde-136b-4709-b7b6-abfc0bdfc134
Workspace Name     xm-ml-workspace
Resource Group     xm-ml
Location           centralus
Project Directory  ./ml_experiment/orderhold-Duration-ExternalCompute
Experiment Name    orderhold-Duration-ExternalCompute

In [225]:
train_dflow = dprep.read_csv('data/final_balanced_data.csv', infer_column_types=True)
train_dflow.get_profile()

ColumnProfile:
    column_name: NUM_PORTIN
    type: FieldType.INTEGER

    min: 0.0
    max: 5.0
    count: 46776.0
    missing_count: 0.0
    not_missing_count: 46776.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 6


    Quantiles (est.):
         0.1%: 0.0
           1%: 0.0
           5%: 0.0
          25%: 0.0
          50%: 1.0
          75%: 1.0
          95%: 2.0
          99%: 3.0
        99.9%: 4.893956112852683

    mean: 0.7950017102787699
    std: 0.7471201992944381
    variance: 0.5581885921937609
    skewness: 1.1116439045891207
    kurtosis: 2.6688244399672847
    whisker_top: 2.0
    whisker_bottom: 0.0

ColumnProfile:
    column_name: THIRD_PARTY_ID_SCORE
    type: FieldType.INTEGER

    min: 228.0
    max: 999.0
    count: 46776.0
    missing_count: 0.0
    not_missing_count: 46776.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 682


    Quantiles (est.):
         0.1%: 249.41341935483874
           1%: 331.9420840848283
           5%: 331.7394366197183
          25%: 371.42384222759364
          50%: 426.8068352481171
          75%: 503.9517480570477
          95%: 663.8514563106793
          99%: 827.4649139181882
        99.9%: 999.0

    mean: 450.13241833419175
    std: 113.04242949854726
    variance: 12778.590866934028
    skewness: 1.3869071834511912
    kurtosis: 3.0160665250209098
    whisker_top: 692.0432692307689
    whisker_bottom: 228.0

ColumnProfile:
    column_name: FIRST_PARTY_ID_SCORE
    type: FieldType.INTEGER

    min: 90.0
    max: 999.0
    count: 46776.0
    missing_count: 0.0
    not_missing_count: 46776.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 629


    Quantiles (est.):
         0.1%: 149.1561082706767
           1%: 270.17664640905093
           5%: 270.1388888888889
          25%: 313.5436773503556
          50%: 371.5204863718046
          75%: 442.98924553721713
          95%: 575.6739857387685
          99%: 675.4916732394363
        99.9%: 999.0

    mean: 386.6318838720719
    std: 105.93691298621889
    variance: 11222.62953304971
    skewness: 1.2368321489917702
    kurtosis: 3.981112637118927
    whisker_top: 635.3979057591625
    whisker_bottom: 122.2608695652174

ColumnProfile:
    column_name: MAKE1
    type: FieldType.STRING

    min: Apple
    max: Zagg
    count: 46776.0
    missing_count: 0.0
    not_missing_count: 46776.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 13


ColumnProfile:
    column_name: MONTHLYRECURRINGCHARGE
    type: FieldType.DECIMAL

    min: 0.0
    max: 532.9
    count: 46776.0
    missing_count: 0.0
    not_missing_count: 46776.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: 0.0
           1%: 0.0
           5%: 0.0
          25%: 16.29571570810142
          50%: 45.0
          75%: 82.98808420052933
          95%: 111.45422703707209
          99%: 190.94103152265424
        99.9%: 301.4509768146487

    mean: 52.15979626304047
    std: 42.20155879383826
    variance: 1780.971564629787
    skewness: 1.3186630027759234
    kurtosis: 4.61562708330909
    whisker_top: 182.41953124999998
    whisker_bottom: 0.0

ColumnProfile:
    column_name: HOUR_OF_DAY
    type: FieldType.INTEGER

    min: 0.0
    max: 23.0
    count: 46776.0
    missing_count: 0.0
    not_missing_count: 46776.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 24


    Quantiles (est.):
         0.1%: 0.0
           1%: 1.9972464762060744
           5%: 1.9763033175355464
          25%: 13.0
          50%: 17.0
          75%: 20.0
          95%: 23.0
          99%: 23.0
        99.9%: 23.0

    mean: 14.988840430990361
    std: 6.834937403876591
    variance: 46.716369314911276
    skewness: -1.0319707669540932
    kurtosis: -0.05769058103652425
    whisker_top: 23.0
    whisker_bottom: 2.9819121447028434

ColumnProfile:
    column_name: TOTAL_PRICE
    type: FieldType.DECIMAL

    min: 0.0
    max: 7838.2
    count: 46776.0
    missing_count: 0.0
    not_missing_count: 46776.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: 0.0
           1%: 0.0
           5%: 0.0
          25%: 14.024674773247186
          50%: 657.0599442758189
          75%: 1089.9294911017967
          95%: 1533.8664634075228
          99%: 2561.1669989419024
        99.9%: 4337.9200347917

    mean: 658.9892310159064
    std: 601.3725389351355
    variance: 361648.93058529106
    skewness: 1.362627272756774
    kurtosis: 5.862523343647547
    whisker_top: 2664.3835000000004
    whisker_bottom: 0.0

ColumnProfile:
    column_name: PRICE1
    type: FieldType.DECIMAL

    min: 0.0
    max: 1449.99
    count: 46776.0
    missing_count: 8.0
    not_missing_count: 46768.0
    percent_missing: 0.0001710278775440397
    error_count: 5.0
    empty_count: 0.0
    unique_values: 50


    Quantiles (est.):
         0.1%: 0.0
           1%: 119.99
           5%: 119.99
          25%: 349.99
          50%: 599.99
          75%: 999.9584400144685
          95%: 1249.99
          99%: 1449.99
        99.9%: 1449.99

    mean: 634.7181399824625
    std: 378.8502049262285
    variance: 143527.47777264533
    skewness: 0.08907897131588088
    kurtosis: -0.8879584131079077
    whisker_top: 1449.99
    whisker_bottom: 0.0

ColumnProfile:
    column_name: ONETIMECHARGE
    type: FieldType.DECIMAL

    min: 0.0
    max: 3749.97
    count: 46776.0
    missing_count: 0.0
    not_missing_count: 46776.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 771


    Quantiles (est.):
         0.1%: 0.0
           1%: 0.0
           5%: 0.0
          25%: 0.0
          50%: 29.16
          75%: 45.830355915065724
          95%: 573.9364949771835
          99%: 1157.2485698424593
        99.9%: 1886.5272814196767

    mean: 80.7810383530014
    std: 218.89130034179266
    variance: 47913.401365320875
    skewness: 4.855515740293246
    kurtosis: 30.459376351697507
    whisker_top: 106.83786802030458
    whisker_bottom: 0.0

ColumnProfile:
    column_name: IDA_RESULT
    type: FieldType.STRING

    min:
    max: YELLOW
    count: 46776.0
    missing_count: 0.0
    not_missing_count: 46776.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 140.0
    unique_values: 4


ColumnProfile:
    column_name: MODEL1
    type: FieldType.STRING

    min: 3' Lightning ChargeSync Cable
    max: power boost mini
    count: 46776.0
    missing_count: 0.0
    not_missing_count: 46776.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 134


ColumnProfile:
    column_name: INSTALLMENT_AMOUNT
    type: FieldType.DECIMAL

    min: 0.0
    max: 302.05
    count: 46776.0
    missing_count: 0.0
    not_missing_count: 46776.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 357


    Quantiles (est.):
         0.1%: 0.0
           1%: 0.0
           5%: 0.0
          25%: 0.0
          50%: 22.6762621899958
          75%: 41.66
          95%: 60.23969479027293
          99%: 98.77410871477086
        99.9%: 172.9229117902113

    mean: 23.67254874294507
    std: 24.09294150699338
    variance: 580.4698304594045
    skewness: 1.437071147037488
    kurtosis: 5.732554070447925
    whisker_top: 104.09857142857143
    whisker_bottom: 0.0

ColumnProfile:
    column_name: IS_EXISTING_CUSTOMER
    type: FieldType.BOOLEAN

    min: False
    max: True
    count: 46776.0
    missing_count: 0.0
    not_missing_count: 46776.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 2


ColumnProfile:
    column_name: label
    type: FieldType.INTEGER

    min: 0.0
    max: 2.0
    count: 46776.0
    missing_count: 0.0
    not_missing_count: 46776.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 3


    Quantiles (est.):
         0.1%: 0.0
           1%: 0.0
           5%: 0.0
          25%: 0.0
          50%: 1.0
          75%: 2.0
          95%: 2.0
          99%: 2.0
        99.9%: 2.0

    mean: 0.999999999999998
    std: 0.8165053087974978
    variance: 0.6666809192944972
    skewness: -5.862482732197331e-15
    kurtosis: -1.5000641347685102
    whisker_top: 2.0
    whisker_bottom: 0.0

In [226]:
test_dflow = dprep.read_csv('data/test_data.csv', infer_column_types=True)
test_dflow.get_profile()

ColumnProfile:
    column_name: NUM_PORTIN
    type: FieldType.INTEGER

    min: 0.0
    max: 5.0
    count: 26321.0
    missing_count: 0.0
    not_missing_count: 26321.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 6


    Quantiles (est.):
         0.1%: 0.0
           1%: 0.0
           5%: 0.0
          25%: 0.0
          50%: 1.0
          75%: 1.0
          95%: 2.0
          99%: 3.0
        99.9%: 4.740562162162167

    mean: 0.7994757038106444
    std: 0.7163853235445258
    variance: 0.5132079317899949
    skewness: 1.0732679273133572
    kurtosis: 2.9059920221819917
    whisker_top: 2.0
    whisker_bottom: 0.0

ColumnProfile:
    column_name: THIRD_PARTY_ID_SCORE
    type: FieldType.INTEGER

    min: 233.0
    max: 999.0
    count: 26321.0
    missing_count: 0.0
    not_missing_count: 26321.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 662


    Quantiles (est.):
         0.1%: 249.73675692307694
           1%: 337.0686233055591
           5%: 336.1627906976745
          25%: 376.3217836952223
          50%: 433.65834095159784
          75%: 514.1081380711241
          95%: 686.3556631641551
          99%: 850.1604650509312
        99.9%: 999.0

    mean: 458.31681926978314
    std: 117.11300803331825
    variance: 13715.456650612066
    skewness: 1.3351951728113052
    kurtosis: 2.60321676035867
    whisker_top: 718.381443298969
    whisker_bottom: 233.0

ColumnProfile:
    column_name: FIRST_PARTY_ID_SCORE
    type: FieldType.INTEGER

    min: 88.0
    max: 999.0
    count: 26321.0
    missing_count: 0.0
    not_missing_count: 26321.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 612


    Quantiles (est.):
         0.1%: 154.72228260869565
           1%: 270.74636184592543
           5%: 269.64814814814827
          25%: 315.86395585024513
          50%: 376.60977698133735
          75%: 452.6637836357945
          95%: 589.8524321908816
          99%: 690.3401480263161
        99.9%: 999.0

    mean: 392.43353216063343
    std: 109.85195515020884
    variance: 12067.452050323493
    skewness: 1.140462075019459
    kurtosis: 3.214746321385011
    whisker_top: 653.6486486486485
    whisker_bottom: 128.83333333333334

ColumnProfile:
    column_name: MAKE1
    type: FieldType.STRING

    min: Apple
    max: Zagg
    count: 26321.0
    missing_count: 0.0
    not_missing_count: 26321.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 13


ColumnProfile:
    column_name: MONTHLYRECURRINGCHARGE
    type: FieldType.DECIMAL

    min: 0.0
    max: 485.4
    count: 26321.0
    missing_count: 0.0
    not_missing_count: 26321.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: 0.0
           1%: 12.0
           5%: 12.0
          25%: 29.275530555555555
          50%: 54.66641029156369
          75%: 86.6523259518912
          95%: 116.30279466097792
          99%: 194.2528151095734
        99.9%: 307.6988505469757

    mean: 59.09666881957345
    std: 40.60179615887481
    variance: 1648.5058513268216
    skewness: 1.3099613794843565
    kurtosis: 4.831960813996513
    whisker_top: 167.30842857142858
    whisker_bottom: 0.0

ColumnProfile:
    column_name: HOUR_OF_DAY
    type: FieldType.INTEGER

    min: 0.0
    max: 23.0
    count: 26321.0
    missing_count: 0.0
    not_missing_count: 26321.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 24


    Quantiles (est.):
         0.1%: 0.0
           1%: 1.0
           5%: 1.0
          25%: 13.292610477367981
          50%: 17.0
          75%: 20.0
          95%: 23.0
          99%: 23.0
        99.9%: 23.0

    mean: 15.06622088826411
    std: 7.10246215975062
    variance: 50.444968730689446
    skewness: -1.0791732553087043
    kurtosis: -0.125853471721606
    whisker_top: 23.0
    whisker_bottom: 3.8515625000000013

ColumnProfile:
    column_name: TOTAL_PRICE
    type: FieldType.DECIMAL

    min: 0.0
    max: 7734.95
    count: 26321.0
    missing_count: 0.0
    not_missing_count: 26321.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: 0.0
           1%: 0.0
           5%: 0.0
          25%: 185.428535476424
          50%: 743.3517886766093
          75%: 1092.0849908422715
          95%: 1500.8365112842575
          99%: 2683.9094371323536
        99.9%: 4555.261020582423

    mean: 715.190563808367
    std: 587.8550807485705
    variance: 345573.5959619082
    skewness: 1.5953333777032828
    kurtosis: 8.588281414875029
    whisker_top: 2385.9677027027024
    whisker_bottom: 0.0

ColumnProfile:
    column_name: PRICE1
    type: FieldType.DECIMAL

    min: 0.0
    max: 1449.99
    count: 26321.0
    missing_count: 8.0
    not_missing_count: 26313.0
    percent_missing: 0.0003039398199156567
    error_count: 0.0
    empty_count: 0.0
    unique_values: 47


    Quantiles (est.):
         0.1%: 0.0
           1%: 144.16295637812107
           5%: 143.99
          25%: 449.99
          50%: 699.99
          75%: 999.99
          95%: 1249.99
          99%: 1439.199544573642
        99.9%: 1449.99

    mean: 688.8260312393128
    std: 352.6688869219314
    variance: 124375.34380275404
    skewness: -0.042592952224671306
    kurtosis: -0.6212266106067368
    whisker_top: 1449.99
    whisker_bottom: 0.0

ColumnProfile:
    column_name: ONETIMECHARGE
    type: FieldType.DECIMAL

    min: 0.0
    max: 3249.96
    count: 26321.0
    missing_count: 0.0
    not_missing_count: 26321.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 495


    Quantiles (est.):
         0.1%: 0.0
           1%: 0.0
           5%: 0.0
          25%: 10.69308122040692
          50%: 29.16
          75%: 45.83
          95%: 699.99
          99%: 1163.6361627235542
        99.9%: 1909.6506692768307

    mean: 90.38147182857816
    std: 229.48445623645262
    variance: 52663.11565414033
    skewness: 4.325333640908036
    kurtosis: 23.633292015411563
    whisker_top: 92.6940909090909
    whisker_bottom: 0.0

ColumnProfile:
    column_name: IDA_RESULT
    type: FieldType.STRING

    min:
    max: YELLOW
    count: 26321.0
    missing_count: 0.0
    not_missing_count: 26321.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 44.0
    unique_values: 4


ColumnProfile:
    column_name: MODEL1
    type: FieldType.STRING

    min: 3' Micro ChargeSync Cable
    max: power boost mini
    count: 26321.0
    missing_count: 0.0
    not_missing_count: 26321.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 111


ColumnProfile:
    column_name: INSTALLMENT_AMOUNT
    type: FieldType.DECIMAL

    min: 0.0
    max: 302.05
    count: 26321.0
    missing_count: 0.0
    not_missing_count: 26321.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 248


    Quantiles (est.):
         0.1%: 0.0
           1%: 0.0
           5%: 0.0
          25%: 0.0
          50%: 27.135941231727504
          75%: 41.660204928835
          95%: 58.18869411330144
          99%: 104.41623886752137
        99.9%: 183.52820021428585

    mean: 25.67347175259305
    std: 24.017436319977364
    variance: 576.8372473841678
    skewness: 1.6471008780673273
    kurtosis: 8.375039602501259
    whisker_top: 97.27136363636362
    whisker_bottom: 0.0

ColumnProfile:
    column_name: IS_EXISTING_CUSTOMER
    type: FieldType.BOOLEAN

    min: False
    max: True
    count: 26321.0
    missing_count: 0.0
    not_missing_count: 26321.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 2


ColumnProfile:
    column_name: label
    type: FieldType.INTEGER

    min: 0.0
    max: 2.0
    count: 26321.0
    missing_count: 0.0
    not_missing_count: 26321.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 3


    Quantiles (est.):
         0.1%: 0.0
           1%: 0.0
           5%: 0.0
          25%: 0.0
          50%: 0.0
          75%: 0.0
          95%: 2.0
          99%: 2.0
        99.9%: 2.0

    mean: 0.39876904372933963
    std: 0.7390158194149996
    variance: 0.5461443813456233
    skewness: 1.4894117911576088
    kurtosis: 0.48056300969726307
    whisker_top: 0.0
    whisker_bottom: 0.0

In [227]:
X_df = train_dflow.drop_columns(columns=['label'])
y_df = train_dflow.keep_columns(columns=['label'], validate_column_exists=True)
X_test_df = test_dflow.drop_columns(columns=['label'])
y_test_df = test_dflow.keep_columns(columns=['label'], validate_column_exists=True)

In [228]:
from azureml.core.compute import AmlCompute
from azureml.core.compute import ComputeTarget

cts = ws.compute_targets
amlcompute_cluster_name = "XM-ML-Compute"  # Name your cluster

# Check if this compute target already exists in the workspace.
compute_target = cts[amlcompute_cluster_name]
found = False

# # Check if this compute target already exists in the workspace.

cts = ws.compute_targets
if amlcompute_cluster_name in cts and cts[amlcompute_cluster_name].type == 'AmlCompute':
    found = True
    print('Found existing compute target.')
    compute_target = cts[amlcompute_cluster_name]

if not found:
    print('Creating a new compute target...')
    provisioning_config = AmlCompute.provisioning_configuration(vm_size = "STANDARD_D2_V2", # for GPU, use "STANDARD_NC6"
                                                                vm_priority = 'lowpriority',
                                                                min_nodes = 0, max_nodes = 6)

    # Create the cluster.\n",
    compute_target = ComputeTarget.create(ws, amlcompute_cluster_name, provisioning_config)

#     # Can poll for a minimum number of nodes and for a specific timeout.
#     # If no min_node_count is provided, it will use the scale settings for the cluster.
#     compute_target.wait_for_completion(show_output = True, min_node_count = None, timeout_in_minutes = 20)

#      # For a more detailed view of current AmlCompute status, use get_status().

Found existing compute target.

In [229]:
from azureml.core.runconfig import RunConfiguration
from azureml.core.conda_dependencies import CondaDependencies
import pkg_resources

# create a new RunConfig object
conda_run_config = RunConfiguration(framework="python")

# Set compute target to AmlCompute
conda_run_config.target = compute_target
conda_run_config.environment.docker.enabled = True
conda_run_config.environment.docker.base_image = azureml.core.runconfig.DEFAULT_CPU_IMAGE

# cd = CondaDependencies.create(conda_packages=['numpy','py-xgboost<=0.80'])
cd = CondaDependencies.create(pip_packages=['azureml-sdk[automl]', 'psutil'], conda_packages=['numpy','py-xgboost<=0.80'])

conda_run_config.environment.python.conda_dependencies = cd

In [230]:
# Dump X and Y to CSVs.
X_df.to_pandas_dataframe().to_csv('data/duration/X_train.csv', index=False)
y_df.to_pandas_dataframe().to_csv('data/duration/Y_train.csv', index=False)

# Dump X and Y to CSVs.
X_test_df.to_pandas_dataframe().to_csv('data/duration/X_test.csv', index=False)
y_test_df.to_pandas_dataframe().to_csv('data/duration/Y_test.csv', index=False)

In [231]:
ds = ws.get_default_datastore()
ds.upload(src_dir='./data/duration', target_path='data/duration', overwrite=True, show_progress=True)

Uploading an estimated of 4 files
Uploading ./data/duration/X_test.csv
Uploading ./data/duration/X_train.csv
Uploading ./data/duration/Y_test.csv
Uploading ./data/duration/Y_train.csv
Uploaded ./data/duration/Y_train.csv, 1 files out of an estimated total of 4
Uploaded ./data/duration/Y_test.csv, 2 files out of an estimated total of 4
Uploaded ./data/duration/X_test.csv, 3 files out of an estimated total of 4
Uploaded ./data/duration/X_train.csv, 4 files out of an estimated total of 4
Uploaded 4 files

$AZUREML_DATAREFERENCE_ea40c143f5ae47dda1b1cc7d4d7ad2af

In [232]:
X = Dataset.Tabular.from_delimited_files(path=ds.path('data/duration/X_train.csv'))
y = Dataset.Tabular.from_delimited_files(path=ds.path('data/duration/Y_train.csv'))

X_valid = Dataset.Tabular.from_delimited_files(path=ds.path('data/duration/X_test.csv'))
y_valid = Dataset.Tabular.from_delimited_files(path=ds.path('data/duration/Y_test.csv'))

In [233]:
automl_config = AutoMLConfig(task = 'classification',
                             primary_metric = 'AUC_weighted',
                             debug_log='automl_duration_errors.log',
                             path = project_folder, #For external compute
                             run_configuration=conda_run_config,
                             preprocess=True,
                             X = X, 
                             y = y,
                             X_valid=X_valid,
                             y_valid=y_valid,
                             iteration_timeout_minutes=10,
                             experiment_timeout_minutes=200,
                             max_concurrent_iterations=8,
                             iterations=50,
                             model_explainability=True
                             )

In [ ]:
ws = Workspace.from_config()
experiment_name = 'orderhold-Duration-ExternalCompute'
experiment = Experiment(ws, experiment_name)
remote_run = experiment.submit(automl_config, show_output = True)

Running on remote compute: XM-ML-Compute
Parent Run ID: AutoML_0922b29d-f480-491a-8736-0c9eb97da5c5
Current status: FeaturesGeneration. Generating features for the dataset.
Current status: DatasetFeaturizationCompleted. Completed featurizing the dataset.
Current status: ModelSelection. Beginning model selection.

****************************************************************************************************
ITERATION: The iteration being evaluated.
PIPELINE: A summary description of the pipeline being evaluated.
DURATION: Time taken for the current iteration.
METRIC: The result of computing score on the fitted pipeline.
BEST: The best observed score thus far.
****************************************************************************************************

 ITERATION   PIPELINE                                       DURATION      METRIC      BEST
         3   MaxAbsScaler RandomForest                      0:08:28       0.4825    0.4825
         5   MaxAbsScaler ExtremeRandomTrees                0:12:55       0.4861    0.4861
         7   StandardScalerWrapper ExtremeRandomTrees       0:14:55       0.4888    0.4888
         0   MaxAbsScaler LightGBM                          0:15:04       0.4833    0.4888
         2   StandardScalerWrapper LightGBM                 0:18:41       0.4790    0.4888
         8   MaxAbsScaler RandomForest                      0:13:19       0.4842    0.4888
         4   MaxAbsScaler SGD                               0:22:46       0.4762    0.4888
         9   MaxAbsScaler LightGBM                          0:10:54       0.4830    0.4888
         1   MaxAbsScaler SGD                               0:26:06       0.4830    0.4888
        12   MaxAbsScaler LightGBM                          0:10:45       0.4814    0.4888
         6   MaxAbsScaler SGD                               0:31:58       0.4835    0.4888
        13   MaxAbsScaler ExtremeRandomTrees                0:10:20       0.4806    0.4888
        11   MaxAbsScaler SGD                               0:19:40       0.4832    0.4888
        10   MaxAbsScaler BernoulliNaiveBayes               0:24:09       0.4855    0.4888
        14   MaxAbsScaler ExtremeRandomTrees                0:17:03       0.4819    0.4888
        18   MaxAbsScaler RandomForest                      0:08:22       0.4835    0.4888
        16   MaxAbsScaler LightGBM                          0:15:42       0.4876    0.4888
        20   MaxAbsScaler ExtremeRandomTrees                0:11:52       0.4879    0.4888
        15   MaxAbsScaler SGD                               0:23:16       0.4918    0.4918
        17   StandardScalerWrapper BernoulliNaiveBayes      0:24:00       0.4898    0.4918
        25   MaxAbsScaler ExtremeRandomTrees                0:12:27       0.4885    0.4918
        19   MaxAbsScaler LogisticRegression                0:28:19       0.4849    0.4918
        21   MaxAbsScaler LogisticRegression                0:22:44       0.4849    0.4918
        22   StandardScalerWrapper LogisticRegression       0:23:03       0.4846    0.4918
        24   MaxAbsScaler LogisticRegression                0:24:01       0.4849    0.4918
        26   SparseNormalizer LogisticRegression            0:19:20       0.4780    0.4918
        23   MaxAbsScaler LogisticRegression                0:27:53       0.4837    0.4918
        29   TruncatedSVDWrapper LogisticRegression         0:07:43       0.4883    0.4918
        28   SparseNormalizer LogisticRegression            0:09:44       0.4783    0.4918
        27   SparseNormalizer LogisticRegression            0:17:03       0.4803    0.4918
        31   MaxAbsScaler RandomForest                      0:09:47       0.4857    0.4918
        32   StandardScalerWrapper RandomForest             0:07:16       0.4889    0.4918
        30   StandardScalerWrapper SGD                      0:11:16       0.5000    0.5000
        34   StandardScalerWrapper GradientBoosting         0:08:22       0.4837    0.5000
        33   MaxAbsScaler ExtremeRandomTrees                0:10:49       0.4885    0.5000
        38   StandardScalerWrapper GradientBoosting         0:05:09       0.4906    0.5000
        40   MaxAbsScaler SGD                               0:08:48       0.4895    0.5000
        37   MaxAbsScaler LightGBM                          0:11:45       0.4860    0.5000
        36   MaxAbsScaler GradientBoosting                  0:14:49          nan    0.5000
ERROR: TimeoutException:
	Message: Wall clock time exceeded the specified limit. Please consider increasing the time limit.
	InnerException None
	ErrorResponse
{
    "error": {
        "message": "Wall clock time exceeded the specified limit. Please consider increasing the time limit."
    }
}
        35   MaxAbsScaler SGD                               0:17:32       0.4843    0.5000
        39   MaxAbsScaler LightGBM                          0:14:48       0.4793    0.5000
        43   StandardScalerWrapper LightGBM                 0:11:10       0.4886    0.5000
        41   StandardScalerWrapper LogisticRegression       0:14:20       0.4796    0.5000
        44   MaxAbsScaler LightGBM                          0:11:59       0.4805    0.5000
        45   StandardScalerWrapper SGD                      0:11:41       0.5000    0.5000

In [235]:
remote_run

Run(Experiment: orderhold-Duration-ExternalCompute,
Id: AutoML_0922b29d-f480-491a-8736-0c9eb97da5c5,
Type: automl,
Status: Completed)

In [236]:
from azureml.widgets import RunDetails
RunDetails(remote_run).show()

A Jupyter Widget

In [237]:
best_run, fitted_model = remote_run.get_output()
print(best_run)
print(fitted_model)

ModuleNotFoundError: No module named 'pandas.core.internals.managers'; 'pandas.core.internals' is not a package

In [238]:
from azureml.train.automl.automlexplainer import retrieve_model_explanation

shap_values, expected_values, overall_summary, overall_imp, per_class_summary, per_class_imp = \
    retrieve_model_explanation(best_run)

NameError: name 'best_run' is not defined

In [239]:
print(overall_summary)
print(overall_imp)
print(per_class_summary)
print(per_class_imp)

NameError: name 'overall_summary' is not defined